@media(min-width: 768px){
    .header .nav{
        display: block!important;
    }
}
@media(max-width:991px){
    .gifts-section .gifts-item,
    .event-section .event-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media(max-width: 767px){
    .header .logo{
        padding: 8px 15px;
    }
    .header .hamburger-btn {
        display: flex;
        margin-right: 15px;
    }
    .header .nav {
        flex: 0 0 100%;
        max-width:100%;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        display: none;
    }
    .header .nav ul li {
        display: block;
        margin-left: 0;
    }
    .header .nav ul li a {
        color: #555555;
        padding: 10px 0;
    }
    
    .couple-section .couple{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }
    .couple-section .couple:nth-child(2){
        margin-top: 50px;
    }
    .couple-section .couple:nth-child(2):before{
        content: none;
    }
    .couple-section .couple i.bi-heart-fill{
        display:none;
    }
    /* nếu có phần chuyện chúng mình thì phải thêm lệnh chỉnh */
    .gifts-section .gifts-item,
    .event-section .event-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .gifts-section .gifts-item:nth-child(2),
    .event-section .event-item:nth-child(2){
        transform: translateY(0px);
    }
}

@media(max-width:574px){
    .rvsp-section .form{
        padding: 60px 0px;
    }  
    .home-section .home-content h1{
        font-size: 40px;
    }
    .rsvp-section .form .input-group.w50{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
