body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background: #fff0f5;
  color: #333;
}

header {
  background: pink;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #d63384;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

section {
  padding: 50px 20px;
  text-align: center;
}

.gallery img {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}
